.question{
    font-size: 19px;
}

.question p{
    margin-bottom: 0;
   
}


#roadmap, #start{
    text-shadow: 2px 2px 5px rgba(83, 82, 82, 0.445);
}

h2 .btn-link{
    text-shadow: 1px 1px 3px rgba(102, 101, 101, 0.473);
    font-size: 18px;
}

.done{
    color: rgb(10, 148, 10);
}