h6 p, .btn-link{
    padding: 0px;
}

.collapse> .card-body> p{
    padding: 0px 10px 0px 10px;
 
}

.btn-link{
    text-shadow: 1px 1px 3px rgba(77, 76, 76, 0.418);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none !important;
}

.btn-link:hover{
 
  color: rgb(58, 67, 195);
}

.btn-link> h6{
    font-size: 1.125rem;
}

.card>.card-header:hover {
    background-color: rgba(235, 235, 235, 0.719);
}

