#homeDescription{
    font-size: 1.625rem;
}

.homePicture{
    background-image: url("../../images/welcome.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 35.5rem;
    height: 25rem;
}