


/* Makes body full size. */
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(235, 233, 226, 0);
  }
  html, #root, #one {
    height: 100%;
  }
/* Home background image */
  #home{
    background-image: url("../../images/charllotte_nc_skyline.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat image */
    background-size: cover; /* Resize image to cover container */
    min-height: 100vh; /* will cover the 100% of viewport */
    margin: 0;
    padding: 0;
    background-color: rgba(235, 233, 226, 0);
    opacity: 0.85;
}
 
#homebtn{
  position: absolute;
  bottom: 20%;
  font-weight: 400;
  font-size: 2rem;
  text-shadow: 1px 1px 15px rgba(177, 170, 170, 0.719);
  box-shadow: inset 0px 0px 5px 1px rgb(62, 114, 77),2px 2px 15px 5px rgb(0, 0, 0);
  border-radius: 10px;
}